/* General Resets & Styling */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #96e2c9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
div {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  box-sizing: border-box;
}
#header {
  background-color: #016e72;
  color: #fa802f;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}
/* Dealer Area */
#dealer {
  background-color: rgb(150, 226, 201);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}
#dealer-choice {
  width: 40%;
  opacity: 0.5;
  background-color: #b6b150;
}
/* Message Area */
#message {
  background-color: #f5f3c9;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
/* Player Area */
#player-score {
  text-align: center;
  margin-bottom: 10px;
}
#player-choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#player-choice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}
.choice {
  flex: 0 1 calc(20% - 10px); /* Detailed explanation of this style is in the README.md */
  background-color: #cbe2fb;
  color: #000000;
  font-size: 2.5em;
  border: 2px solid #240101;
  border-radius: 5px;
  text-align: center;
}
.choice:hover {
  background-color: #3295ff;
}
.choice[data-choice="rock"] {
  background-color: #343333;
}
.choice[data-choice="paper"] {
  background-color: #134859;
}
.choice[data-choice="scissors"] {
  background-color: #560e0e;
}

.choice[data-choice="lizard"] {
  background-color: #0c3c0c;
}
.choice[data-choice="spock"] {
  background-color: #4d4d0e;
}
/* Footer */
footer {
  background-color: #016e72;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  font-size: 0.75em;
  text-align: center;
  padding: 1px 0;
}
/* media queries for larger screens */
