/* General Resets & Styling */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #228b74;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
div {
  width: 100%;
  max-width: 600px;
  padding: 5px;
  box-sizing: border-box;
}
#header {
  background-color: #014143;
  color: #fa802f;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}
/* Dealer Area */
.dealer {
  background-color: #228b74;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 20px;
}
#dealer-score {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
.dealer-choice {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 1em;
}
.dealer-choice img {
  width: 115%; /* Adjusted from 100% to match circle size */
  height: auto;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dealer-choice-symbol {
  z-index: 1;
  width: 220px;
  height: 220px;
  border-radius: 50%; /* Circle shape */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  text-align: center;
  line-height: 128px; /* For vertically aligning the emoji in the middle */
}
/* Once the dealer reveals their choice, add a class 'revealed' to the dealer-choice div to show the image */
.dealer-choice.revealed img {
  display: block;
  opacity: 1; /* Fully visible */
}
/*
/* Message Area */
#message {
  background-color: #014143;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #02eef6;
}
#result-message button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
/* Player Area */
#player-score {
  text-align: center;
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}
.player-choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-choice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}
.choice {
  flex: 0 1 calc(20% - 10px);
  background-color: #cbe2fb;
  color: #000000;
  font-size: 2.5em;
  border: 2px solid #240101;
  border-radius: 5px;
  text-align: center;
}
.choice:hover {
  background-color: #3295ff;
}
.choice[data-choice="rock"] {
  background-color: #343333;
}
.choice[data-choice="paper"] {
  background-color: #08607d;
}
.choice[data-choice="scissors"] {
  background-color: #901002;
}
.choice[data-choice="lizard"] {
  background-color: #116351;
}
.choice[data-choice="spock"] {
  background-color: #7d7507;
}
/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  font-size: 0.8em;
  color: #014143;
}
