@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
/* General Resets & Styling */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #014143;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
div {
  width: 100%;
  max-width: 600px;
  padding: 5px;
}
#header {
  padding: 10px 20px;
  position: relative;
  background-color: #014143;
  color: #fa802f;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 3px;
  overflow: visible;
}
#header h1 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 5px;
}
#header p {
  margin-top: 5px;
}
/* Dealer Area */
.dealer {
  background-color: #014143;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}
#dealer-score {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
.dealer-choice {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  overflow: hidden;
  font-size: 6em;
}
.dealer-choice img {
  width: 115%;
  height: auto;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dealer-choice-symbol,
.choice {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.76);
}
#dealer-choice-symbol {
  z-index: 1;
  width: 246px;
  height: 246px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  text-align: center;
  line-height: 128px;
}
/* Message Area */
#message {
  background-color: #014143;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #02eef6;
}
#result-message button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
#message button {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.76);
}
#message button:hover {
  transform: translateY(-2px);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.76);
}
#message button:active {
  transform: translateY(0);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.76);
}
#message #new-game {
  background-color: #228b74;
  color: #fff;
  margin-right: 10px; /* Spacing between the buttons */
}
#message #exit {
  background-color: #901002;
  color: #fff;
}
/* Detailed Result Message */
#detailed-message {
  background-color: #014143;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #02eef6;
  margin-top: -9px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
#scoreboard {
  background-color: #014143;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #02eef6;
  padding: 10px 0;
}
.score-value {
  background-color: #01282a;
  padding: 5px 15px;
  margin: 0 10px;
  font-size: 1.5em;
  color: #ffffff;
  border-radius: 5px;
}
.score-separator {
  margin: 0 5px;
}
/* Player Area */
#player-score {
  text-align: center;
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}
.player-choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-choice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}
.choice {
  flex: 0 1 calc(20% - 10px);
  background-color: #cbe2fb;
  color: #000000;
  font-size: 2.5em;
  border: 2px solid #240101;
  border-radius: 5px;
  text-align: center;
}
.choice[data-choice="rock"] {
  background-color: #343333;
}
.choice[data-choice="paper"] {
  background-color: #08607d;
}
.choice[data-choice="scissors"] {
  background-color: #901002;
}
.choice[data-choice="lizard"] {
  background-color: #116351;
}
.choice[data-choice="spock"] {
  background-color: #7d7507;
}
/* Modal */
#fixedButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 5px 5px;
  background-color: #228b74;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.76); /* Added drop-shadow like the symbols */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.76); /* Added shadow for 3D effect */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for 3D effect on hover */
}
#fixedButton:hover {
  transform: translateY(-2px);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.76);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  right: 0;
  bottom: 0;
  max-width: 600px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
/* Modal Content*/
.modal-content {
  background-color: #caddb2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.game-rules-image img {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}
/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  font-size: 0.8em;
  color: #228b74;
}
footer a {
  text-decoration: none;
  color: #228b74;
}
footer a:visited {
  color: #228b74;
}
/* Media query for screens wider than 590px */
@media (min-width: 590px) {
  #fixedButton {
    right: calc((100% - 590px) / 2);
  }
}
